# Input Data

In [1]:
import pandas as pd

In [5]:
path = "hw2_data/"
dss = ['dataset1','dataset2','dataset3'] #datasets
dataset = dict()
for ds in dss:
    dataset[ds] = dict()
    dataset[ds]['content'] = pd.read_csv(path+ds+"/content.csv",delimiter = '\t',header = None)
    dataset[ds]['train'] = pd.read_csv(path+ds+"/train.csv",delimiter = ',')
    dataset[ds]['test'] = pd.read_csv(path+ds+"/test.csv",delimiter = '\t',header = None)
    dataset[ds]['upload'] = pd.read_csv(path+ds+"/upload.csv",delimiter = '\t',header = None)
dataset[dss[2]]['content'].head()

,0,1,2,3,4,5,6,7,8,9,...,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703
0,345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,752,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,672,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,509,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,500,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0