In [2]:
import pandas as pd

In [3]:
path = "hw2_data/"
dss = ['dataset1','dataset2','dataset3'] #datasets
datasets = dict()
for ds in dss:
    datasets[ds] = dict()
    datasets[ds]['content'] = pd.read_csv(path+ds+"/content.csv",delimiter = '\t',header = None)
    datasets[ds]['train'] = pd.read_csv(path+ds+"/train.csv",delimiter = ',')
    datasets[ds]['test'] = pd.read_csv(path+ds+"/test.csv",delimiter = ',')
    datasets[ds]['upload'] = pd.read_csv(path+ds+"/upload.csv",delimiter = ',')
datasets[dss[2]]['test'].head()

      id   to  from
0   E370   26   317
1   E667  196   323
2  E3190  739   468
3   E848  576   156
4  E2161  466   199

In [13]:
for i in range(3):
    df = datasets[dss[i]]['train']
    df = df[df['label']==1]
    df = df.loc[:,['from','to']]
    df = df.sort_values(by=["from"])
    df.to_csv(path+dss[i]+'/edge.csv',index=False,header = False)